Redirect 301 /dev/2021/indykator-naprugy-dlya-mototsyklu.html /2021/indykator-naprugy-dlya-mototsyklu.html
Redirect 301 /dev/2018/FluentFTP-with-Azure-FTPS.html /2018/FluentFTP-with-Azure-FTPS.html
Redirect 301 /life/2021/Hata-Magnata-Adrenalin-Dragobrat-2021-vidguk.html 2021/Hata-Magnata-Adrenalin-Dragobrat-2021-vidguk.html
Redirect 301 /dev/2020/remont-sholoma-Icon-Airmada-kleem-boterm.html /2020/remont-sholoma-Icon-Airmada-kleem-boterm.html
Redirect 301 /dev/2018/vsts-build-task-to-upload-to-the-sftp.html /2018/vsts-build-task-to-upload-to-the-sftp.html
Redirect 301 /life/2020/AFS-error-Ill-be-back.html /2020/AFS-error-Ill-be-back.html
Redirect 301 /dev/2021/gibryd-izhaka-ta-vuzha.html /2021/gibryd-izhaka-ta-vuzha.html
