---
---

@import "{{ site.theme }}";

.tagcloud {
  .tagcloud-tag {
    display: inline;
    white-space: nowrap;
    padding: 0.6em;
  }
  .tagcloud-tag-s a {
    // default font size
    color: #00CED1;
  }
  .tagcloud-tag-m a {
    font-size: 1.1em;
    color: #0000FF;
  }
  .tagcloud-tag-l a {
    font-size: 1.3em;
    color: #4B0082;
  }
  .tagcloud-tag-xl a {
    font-size: 1.6em;
    color: #FF0000;
  }
}